<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

	<test name="SampleTest">
		<classes>
			<class name="com.mavenproject.AutomationApplications">
				<methods>
					<include name="launchBrowser" />
					<include name="navigateUrl" />
				</methods>
			</class>

		</classes>
	</test>
</suite> 
